:root{
    --pink:  #f7d5d5;
    --pinky: hsl(0, 100%, 79%);
    --red: #E45644;
    --yellow--:#FFF4C7;
    --sunchine: #FFFBEA;
    --grass: #F3FDF4;
    --cornflower: #E0E7FF;
    --baby-sky: #e2EFFA;
    --peach: #FFE3C0;
    --black: #211615;
    
  }
  ::-webkit-scrollbar {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--pinky);
    border-radius: 5px;
    cursor: pointer;
    height: 9rem;
  }
  body {
    padding: 20px 20px 60px!important;
    max-width: 680px!important;
    margin: 0 auto!important;
    background-color: var(--pink)!important;
    box-sizing: border-box!important;
    font-family:  revert!important;
    height: auto!important;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  li {
    display: inline;
  }
  li:first-child {
    position: relative;
    left: -15rem;
  }
  li:nth-child(2) {
    position: relative;
    left: -11rem;
  }
  li:nth-child(3) {
    font-size: 2rem;
    position: relative; 
  }
  li:last-child {
    position: relative;
    left: 14rem;
  }
  a {
    color: var(--black);
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
  }
  a:hover {
  
    color:  var(--pinky);
  }
  a::after {
    content: "";
    background-color: var(--pinky);
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width .5s ease;
  }
  a:hover::after {
    content: "";
    color: var(--pinky);
    width: 100%;
    transform: translateX(5px);
  }
  a:hover i {
    color: var(--pinky);
  }
  a:focus {
     color: var(--pinky);
  }
  a:focus::after {
    width: 0%;
  }
  .active {
    color: var(--pinky);
  }
  a.active::after {
    width: 100%;
  }

  @media (max-width: 375px) {
    ::-webkit-scrollbar{
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background-color: var(--pinky);
      height: 9rem;
      cursor: pointer;
      border-radius: 5px;
    }
    .navLinks{
      display: none;
    }
    .navLinks.active {
      display: flex;
    }
    .logo {
      font-size: 3rem;
      left: 6rem;
    }
    .hamburger {
      display: flex;
    }
    .hamburger.active span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .hamburger.hamburger.active span:nth-child(2)
   {
    opacity: 0;
   }
   .hamburger.hamburger.active span:nth-child(3) {
    transform:  rotate(45deg) translate(-5px, -6px);
   }
  
  } 